.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    width: fit-content;
    border-radius: 4px;
}

.checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.checkbox-input {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #3e4249;
    background-color: transparent;
    appearance: none;
    position: relative;
}

.checkbox-input:checked {
    background-color: #252627;
}

.checkbox-input:checked::after {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
}

.checkbox-label {
    font-weight: 600;
    color: #fff;
}
