@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--purple-700);
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway), sans-serif;
}
