.radio-card-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 12px;
  color: white;
}

.radio-card-label {
  font-size: 14px;
  font-weight: 600;
}

.radio-card-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-card-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  padding: 12px;
  border: 1px solid #4a515e;
  background-color: #272c36;
  border-radius: 4px;
  cursor: pointer;
}

.radio-card-option-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.radio-card-option-header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a6abb3;
}

.radio-card-option-content {
  display: flex;
  flex-direction: column;
}

.radio-card-option-content-title {
  font-size: 14px;
  font-weight: 600;
}

.radio-card-option-content-description {
  font-size: 12px;
  font-weight: 400;
  color: #a6abb3;
}

.radio-card-option-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio-card-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.radio-card-input:checked {
  background-color: #fff;
}
