.root {
  --badge-size-xs: 9px;
  --badge-size-sm: 10px;
  --badge-size-md: 11px;
  --badge-size-lg: 13px;
  --badge-size-xl: 16px;

  --badge-height-xs: 16px;
  --badge-height-sm: 18px;
  --badge-height-md: 20px;
  --badge-height-lg: 26px;
  --badge-height-xl: 32px;

  --badge-padding-x-xs: 6px;
  --badge-padding-x-sm: 8px;
  --badge-padding-x-md: 10px;
  --badge-padding-x-lg: 12px;
  --badge-padding-x-xl: 16px;

  --badge-height: var(--badge-height-md);
  --badge-size: var(--badge-size-md);
  --badge-padding-x: var(--badge-padding-x-md);
  --badge-radius: 1000px;
  --badge-line-height: calc(var(--badge-height) - 0.125rem);
  --badge-color: #fff;
  --badge-bg: rgba(173, 216, 230, 0.5);
  --badge-border-width: 1px;
  --badge-border: var(--badge-border-width) solid transparent;

  -webkit-tap-highlight-color: transparent;
  font-size: var(--badge-size);
  border-radius: var(--badge-radius);
  height: var(--badge-height);
  line-height: var(--badge-line-height);
  text-decoration: none;
  padding: 0 var(--badge-padding-x);
  display: inline-grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25px;
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--badge-color);
  background: var(--badge-bg);
  border: var(--badge-border);

  &:where([data-with-left-section], [data-variant="dot"]) {
    grid-template-columns: auto 1fr;
  }

  &:where([data-with-right-section]) {
    grid-template-columns: 1fr auto;
  }

  &:where(
      [data-with-left-section][data-with-right-section],
      [data-variant="dot"][data-with-right-section]
    ) {
    grid-template-columns: auto 1fr auto;
  }

  &:where([data-block]) {
    display: flex;
    width: 100%;
  }

  &:where([data-circle]) {
    padding-inline: 2px;
    display: flex;
    width: var(--badge-height);
  }
}

.dot {
  --badge-dot-size: calc(var(--badge-height) / 3.4);

  width: var(--badge-dot-size);
  height: var(--badge-dot-size);
  background: transparent;
  border: 1px solid currentColor;
  border-radius: 50%;
  display: inline-block;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  cursor: inherit;
}

.section {
  --badge-section-margin: calc(6px / 2);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: calc(var(--badge-height) - var(--badge-border-width) * 2);

  &:where([data-position="left"]) {
    margin-inline-end: var(--badge-section-margin);
  }

  &:where([data-position="right"]) {
    margin-inline-start: var(--badge-section-margin);
  }
}
