@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark-50: #a1adc2;
        --dark-100: #8993a7;
        --dark-200: #2c2e33;
        --dark-300: #727b8e;
        --dark-400: #525864;
        --dark-500: #434750;
        --dark-600: #373a40;
        --dark-700: #2c2e33;
        --dark-800: #212226;
        --dark-900: #1a1b1e;
    }
}
